	h1{
		color: blue;

	}

	body{
		font-family: sans-serif;
		background: white url(http://th04.deviantart.net/fs70/PRE/f/2013/223/6/6/250battle_time___lsp_by_bombattack-d6hlu95.jpg);
		repeat top right;
	}
	
	ul{
		border: 20px #F84693 solid;
		font-size: 30px;
	}

	p{ 
		border: 20px #F84693 solid;
		font-size: 40px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		margin-left: 5px;
	}
